.dashboard-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  header {
    flex: 0 0 5vh;
  }
  
  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
    background: linear-gradient(135deg, #fceff9 0%, #f9d6c1 50%, #a1c4fd 100%);
  }
  
  .game-grid {
    margin-left: 8vw;
  }
